/* Global properties */
body{
    font-size: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetics Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    overflow: hidden;
}
body > * {font-size: 1rem;}
body, html {height: 100%;}
div.noscroll{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.item{
  order: 0;
  width: 100%;
}

/* Logo header and main area proerties*/
#logobar{
  height: 8%;
  z-index: 10;
  box-shadow: 0px 3px 5px lightgrey;
  padding-left: 2%;
  padding-top: 2px;
  padding-bottom: 2px;
}
#educationlogo{
  max-height: 100%;
}
#placeholderimage{
  height: auto;
}
#topsection{
  height: 40%;
}

/* Code editor area properties */
#editor{
  height: 100%;
  order: 99;
}

/* Dragger properties and children properties */
#dragger{
  min-height: 3%;
  max-height: 3%;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(115, 170, 202, 1);
  box-shadow: 0px -3px 5px lightgrey;
  padding: 0.75rem;
}
#dragger > *{
  color: white;
  vertical-align: middle;
  /*padding-right: 1rem;*/
}
#dragger > button{
  background-color: inherit;
  border: 2px solid white;
  border-radius: 5px;
  font: inherit;
}
#dragger > span{
  cursor: default;
}
#dragger > select,
#dragger > button{
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: -5px;
  max-width: 10rem !important;
  margin-left: 5px;
  margin-right: 5px;
}
#dragger:hover{
  cursor: row-resize;
}
select {
  background-color: inherit;
  border: 2px solid white;
  border-radius: 5px;
  display: inline-block;
  font: inherit;
  padding-top: 0px;
  padding-left: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*TODO
Make the dropdown arrow appear nicely next to the select options
*/
